<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gcx.api.dao.FlickerMapper" >
  <resultMap id="BaseResultMap" type="com.gcx.api.model.Flicker" >
    <id column="tid" property="tid" jdbcType="VARCHAR" />
    <result column="classify" property="classify" jdbcType="INTEGER" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="villages" property="villages" jdbcType="VARCHAR" />
    <result column="organization_name" property="organizationName" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="incident" property="incident" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="create_t" property="createT" jdbcType="VARCHAR" />
    <result column="create_uid" property="createUid" jdbcType="VARCHAR" />
    <result column="update_t" property="updateT" jdbcType="VARCHAR" />
    <result column="update_uid" property="updateUid" jdbcType="VARCHAR" />
    <result column="publish_uid" property="publishUid" jdbcType="VARCHAR" />
    <result column="publish_t" property="publishT" jdbcType="VARCHAR" />
    <result column="publish_status" property="publishStatus" jdbcType="INTEGER" />
    <result column="t1" property="t1" jdbcType="VARCHAR" />
    <result column="t2" property="t2" jdbcType="VARCHAR" />
    <result column="t3" property="t3" jdbcType="VARCHAR" />
    <result column="t4" property="t4" jdbcType="VARCHAR" />
    <result column="t5" property="t5" jdbcType="VARCHAR" />
    <result column="t6" property="t6" jdbcType="INTEGER" />
    <result column="t7" property="t7" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, classify, county, villages, organization_name, department_name, incident, city_code, 
    create_t, create_uid, update_t, update_uid, publish_uid, publish_t, publish_status, 
    t1, t2, t3, t4, t5, t6, t7
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from flicker
    where tid = #{tid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from flicker
    where tid = #{tid,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.gcx.api.model.Flicker" >
    insert into flicker
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="villages != null" >
        villages,
      </if>
      <if test="organizationName != null" >
        organization_name,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="incident != null" >
        incident,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="createT != null" >
        create_t,
      </if>
      <if test="createUid != null" >
        create_uid,
      </if>
      <if test="updateT != null" >
        update_t,
      </if>
      <if test="updateUid != null" >
        update_uid,
      </if>
      <if test="publishUid != null" >
        publish_uid,
      </if>
      <if test="publishT != null" >
        publish_t,
      </if>
      <if test="publishStatus != null" >
        publish_status,
      </if>
      <if test="t1 != null" >
        t1,
      </if>
      <if test="t2 != null" >
        t2,
      </if>
      <if test="t3 != null" >
        t3,
      </if>
      <if test="t4 != null" >
        t4,
      </if>
      <if test="t5 != null" >
        t5,
      </if>
      <if test="t6 != null" >
        t6,
      </if>
      <if test="t7 != null" >
        t7,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=INTEGER},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="villages != null" >
        #{villages,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null" >
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="incident != null" >
        #{incident,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="createT != null" >
        #{createT,jdbcType=VARCHAR},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateT != null" >
        #{updateT,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null" >
        #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="publishUid != null" >
        #{publishUid,jdbcType=VARCHAR},
      </if>
      <if test="publishT != null" >
        #{publishT,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus != null" >
        #{publishStatus,jdbcType=INTEGER},
      </if>
      <if test="t1 != null" >
        #{t1,jdbcType=VARCHAR},
      </if>
      <if test="t2 != null" >
        #{t2,jdbcType=VARCHAR},
      </if>
      <if test="t3 != null" >
        #{t3,jdbcType=VARCHAR},
      </if>
      <if test="t4 != null" >
        #{t4,jdbcType=VARCHAR},
      </if>
      <if test="t5 != null" >
        #{t5,jdbcType=VARCHAR},
      </if>
      <if test="t6 != null" >
        #{t6,jdbcType=INTEGER},
      </if>
      <if test="t7 != null" >
        #{t7,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gcx.api.model.Flicker" >
    update flicker
    <set >
      <if test="classify != null" >
        classify = #{classify,jdbcType=INTEGER},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="villages != null" >
        villages = #{villages,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null" >
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="incident != null" >
        incident = #{incident,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="createT != null" >
        create_t = #{createT,jdbcType=VARCHAR},
      </if>
      <if test="createUid != null" >
        create_uid = #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateT != null" >
        update_t = #{updateT,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null" >
        update_uid = #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="publishUid != null" >
        publish_uid = #{publishUid,jdbcType=VARCHAR},
      </if>
      <if test="publishT != null" >
        publish_t = #{publishT,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus != null" >
        publish_status = #{publishStatus,jdbcType=INTEGER},
      </if>
      <if test="t1 != null" >
        t1 = #{t1,jdbcType=VARCHAR},
      </if>
      <if test="t2 != null" >
        t2 = #{t2,jdbcType=VARCHAR},
      </if>
      <if test="t3 != null" >
        t3 = #{t3,jdbcType=VARCHAR},
      </if>
      <if test="t4 != null" >
        t4 = #{t4,jdbcType=VARCHAR},
      </if>
      <if test="t5 != null" >
        t5 = #{t5,jdbcType=VARCHAR},
      </if>
      <if test="t6 != null" >
        t6 = #{t6,jdbcType=INTEGER},
      </if>
      <if test="t7 != null" >
        t7 = #{t7,jdbcType=INTEGER},
      </if>
    </set>
    where tid = #{tid,jdbcType=VARCHAR}
  </update>
  <sql id="Base_Where_List" >
    <where >
      <if test="classify != null" >
         and classify = #{classify,jdbcType=INTEGER}
      </if>
      <if test="county != null" >
         and county = #{county,jdbcType=VARCHAR}
      </if>
      <if test="villages != null" >
         and villages = #{villages,jdbcType=VARCHAR}
      </if>
      <if test="organizationName != null" >
         and organization_name = #{organizationName,jdbcType=VARCHAR}
      </if>
      <if test="departmentName != null" >
         and department_name = #{departmentName,jdbcType=VARCHAR}
      </if>
      <if test="incident != null" >
         and incident = #{incident,jdbcType=VARCHAR}
      </if>
      <if test="cityCode != null" >
         and city_code = #{cityCode,jdbcType=VARCHAR}
      </if>
      <if test="createT != null" >
         and create_t = #{createT,jdbcType=VARCHAR}
      </if>
      <if test="createUid != null" >
         and create_uid = #{createUid,jdbcType=VARCHAR}
      </if>
      <if test="updateT != null" >
         and update_t = #{updateT,jdbcType=VARCHAR}
      </if>
      <if test="updateUid != null" >
         and update_uid = #{updateUid,jdbcType=VARCHAR}
      </if>
      <if test="publishUid != null" >
         and publish_uid = #{publishUid,jdbcType=VARCHAR}
      </if>
      <if test="publishT != null" >
         and publish_t = #{publishT,jdbcType=VARCHAR}
      </if>
      <if test="publishStatus != null" >
         and publish_status = #{publishStatus,jdbcType=INTEGER}
      </if>
      <if test="t1 != null" >
         and t1 = #{t1,jdbcType=VARCHAR}
      </if>
      <if test="t2 != null" >
         and t2 = #{t2,jdbcType=VARCHAR}
      </if>
      <if test="t3 != null" >
         and t3 = #{t3,jdbcType=VARCHAR}
      </if>
      <if test="t4 != null" >
         and t4 = #{t4,jdbcType=VARCHAR}
      </if>
      <if test="t5 != null" >
         and t5 = #{t5,jdbcType=VARCHAR}
      </if>
      <if test="t6 != null" >
         and t6 = #{t6,jdbcType=INTEGER}
      </if>
      <if test="t7 != null" >
         and t7 = #{t7,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <select id="findAllList" resultMap="BaseResultMap" parameterType="com.gcx.api.model.Flicker" >
     select 
    <include refid="Base_Column_List" />
      from flicker
    <include refid="Base_Where_List" />
    order by create_t desc <if test="pageSize!=-1">  LIMIT #{firstResult,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER} </if>
  </select>
  <select id="findAllListCount" resultType="java.lang.Long" parameterType="com.gcx.api.model.Flicker" >
     select count(1) from flicker
    <include refid="Base_Where_List" />
  </select>
  <delete id="delRecords" parameterType="java.lang.String" >
     delete  from flicker where tid IN(${tids})
  </delete>
</mapper>